<form name="userForm" novalidate >

    <div class="box-body">
        <br>
        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">

                    <span class="input-group-addon">Specimen </span>
                    <input type="text" class="form-control" required ng-model="speciman"/>

                </div>
            </div>
        </div>



    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="input-group">
                <button type="submit" class="btn btn-primary" ng-click="addSpecimen()">Save</button>
                &nbsp;
                <button type="submit" class="btn btn-primary" ng-click="UpadateSpecimen()">Update</button>
                &nbsp;
                <button type="reset" class='btn'>Cancel</button>

            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default pull-right" data-toggle="collapse" data-target="#collapseExample"
                    aria-controls="collapseExample">+
            </button>
        </div>
    </div>

    <div class="" id="collapseExample" aria-expanded="false">
        <div class="col-md-12">
            <div >

            </div>
        </div>
    </div>
</form>