<div class="box-body">
    <br>
    <div class="row">
        <div class="col-xs-6">
            <div class="input-group">

                <span class="input-group-addon">Alergy *</span>
                <input type="text" class="form-control" required ng-model="labTest.name"/>


            </div>
        </div>
    </div>
    <br>


    <div class="row">
        <div class="col-xs-6">
            <div class="input-group">

                <span class="input-group-addon">Remarks</span>
                <textarea type="text" class="form-control" id="inputRemarks" name="Remarks" placeholder=""
                          ng-model="labTest.Category">
                            </textarea>
            </div>
        </div>
    </div>
    <br>


</div>
<br>


<br/>

<br>


<br> <br>
<div class="row">
    <div class="col-xs-6">
        <div class="input-group">

            <button type="submit" class="btn btn-primary" ng-click="addlabTest()">Save</button>

            <button type="submit" class="btn btn-primary" ng-click="addlabTest(labTest)">Save</button>

            <button type="submit" class="btn btn-primary" ng-click="UpadatelabTest()">Update</button>

         
            <button type="reset" class='btn'>Cancel</button>

        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default pull-right" data-toggle="collapse" data-target="#collapseExample"
                aria-controls="collapseExample">+
        </button>
    </div>
</div>

<div class="" id="collapseExample" aria-expanded="false">
    <div class="col-md-12">
        <div >
            <table class="table">
                <thead>
                <tr>

                    <th>Lab test</th>

                    <th></th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in labTest.labTest">
                    <td>{{x.labTest}}</td>



                    <td>   <button type="button" class="btn btn-warning" ng-click="UpadatelabTest(x._id)">Edit</button></td>
                    <td>   <button type="submit" class="btn btn-danger" ng-click="DeletelabTest(x._id)">Delete</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>